<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>

    <header>
        <img src="../logo_ecommerce.jpg" alt="logo" class="logo">
        <div class="nav-buttons">
        <button>
            <a href="./create-product.html" >
                Create Product
            </a>
        </button>
        <button >
            <a href="./purchase.html" >
                Purchase
            </a>
        </button>
        <button >
            <a href="./login.html" >
                Login
            </a>
        </button>
        <button >
            <a href="./register.html" >
                Register
            </a>
        </button>
        <button >
            <a href="./products.html" >
                Products
            </a>
        </button>
        <button >
            <a href="./update-inventory.html" >
                Update Inventory
            </a>
        </button>
        </div>
    </header>
    
    <div class="form-container">
        <form id="login-form">
            <h3>Login</h3>

            <label for="username">Username</label>
            <br>
            <input type="text" id="username" placeholder="Username" required><br><br>
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" placeholder="Password" required><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>
