<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../styles/products.css">
</head>
<body>

    <header>
        <img src="../logo_ecommerce.jpg" alt="logo" class="logo">
        <div class="nav-buttons">
        <button>
            <a href="./create-product.html" >
                Create Product
            </a>
        </button>
        <button >
            <a href="./purchase.html" >
                Purchase
            </a>
        </button>
        <button >
            <a href="./login.html" >
                Login
            </a>
        </button>
        <button >
            <a href="./register.html" >
                Register
            </a>
        </button>
        <button >
            <a href="./products.html" >
                Products
            </a>
        </button>
        <button >
            <a href="./update-inventory.html" >
                Update Inventory
            </a>
        </button>
        </div>
    </header>

    <section>
        <div class="form-container">
            <form id="products-form">
                <h3>Products</h3>
                <div id="products-grid" class="grid">

                </div>
            </form>
        </div>
    </section>
    <script src="../js/products.js"></script>
</body>
</html>
